<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="バンタン恋愛ハートビート 【タイトル】">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@3.0.2/destyle.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>バンタン恋愛ハートビート 【タイトル】</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap" rel="stylesheet">
</head>
<body class="title_body" id="title_body">
    <main>
        <div class="first_title" id="first_title">
            <img src="../img/logo_asset/ vantan_heartbeat_logo.svg" alt="title_logo" class="title_logo">
            <div>
                <p class="Enter_text" id="Enter_hidden" onclick="Enter_hidden()">Press Enter</p>
                <input type="text" minlength="1" maxlength="14" autocomplete="off" name="player_name_input" class="player_name_input" id="player_name_input">
                <button class="name_button" id="name_button" onclick="name_submit()">この名前にする</button>
            </div>
        </div>

        <div class="character_option_box" id="character_option_box">
            <div class="character_option" onclick="character_select('キタムラ')">
                <img src="../img/character/Kitamura/Kitamura_1.png" alt="character_option_img1">
                <p>KITAMURA</p>
            </div>
            <div class="character_option" onclick="character_select('フカヤ')">
                <img src="../img/character/Hukaya/Hukaya_1.png" alt="character_option_img2">
                <p>HUKAYA</p>
            </div>
            <div class="character_option" onclick="character_select('コマツ')">
                <img src="../img/character/Komatsu/Komatsu_1.png" alt="character_option_img3">
                <p>KOMATSU</p>
            </div>
            <div class="character_option" onclick="character_select('ハシヅメ')">
                <img src="../img/character/Hashidume/Hashidume_1.png" alt="character_option_img4">
                <p>HASHIDUME</p>
            </div>
            <div class="character_option" onclick="character_select('カツラ')">
                <img src="../img/character/Katura/Katura_1.png" alt="character_option_img5">
                <p>KATURA</p>
            </div>
        </div>

        <div class="gender_option_cover" id="gender_option_box">
            <h2>性別を選んでね</h2>
            <div class="gender_option_box">
                <div>
                    <h3>男の子</h3>
                    <img src="../img/title_img/gender1.svg" alt="gender1_img">
                </div>
                <div>
                    <h3>女の子</h3>
                    <img src="../img/title_img/gender2.svg" alt="gender2_img">
                </div>
            </div>
            <div class="gender_button_box">
                <button class="gender_button1" onclick="gender_select(1)">男の子で始める</button>
                <button class="gender_button2" onclick="gender_select(2)">女の子で始める</button>
            </div>
        </div>
    </main>
    <div class="loading" id="loading"></div>
    <script src="../js/script.js" defer></script>
</body>
</html>