@charset "UTF-8";

img {
    -webkit-user-drag: none; /* 画像のドラッグを無効 */
}

/* ----------↓ title.html ↓---------- */

.gender_option_box {
    text-align: center;
    margin: 100px 0;
}
.gender_option_box>button {
    font-size: 18px;
    margin: 0 15px;
    padding: 8.5px 65px;
    border: solid 1px #111;
    border-radius: 20px;
}
.player_name_label {
    display: block;
    margin: 0 0 15px 0;
    text-align: center;
    font-weight: bold;
}
.player_name_input {
    display: block;
    width: 40vw;
    height: 60px;
    margin: 0 auto;
    font-size: 130%;
    border: solid 1px #111;
}
.player_name_text {
    text-align: center;
}
.character_option_box {
    display: flex;
    width: 98%;
    margin: 75px auto;
    justify-content: space-around;
}
.character_option {
    width: 18vw;
}
.character_option>img {
    width: 18vw;
    height: auto;
    margin: 0 auto;
    background-image: url(); /* 選択肢のキャラの背景画像 */
    border: solid 1px #111;
}
.character_option>button {
    width: 100%;
    border: solid 1px #111;
    border-radius: 15px;
    padding: 5px 0;
    margin: 15px 0 0 0;
    text-align: center;
}
div:has(> .start_button) {
    width: 18vw;
    margin: 0 auto;
}
.start_button {
    display: block;
    border: solid 1px #111;
    border-radius: 25px;
    margin: 0 0 80px 0;
    padding: 12.5px 0;
    text-align: center;
    font-weight: bold;
}

/* ---------------------------------- */



/* ----------↓ ending.html ↓---------- */

.end_roll {
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    text-align: center;
    font-family: "source-han-sans-japanese", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 100px 0 350px 0;
}
.end_roll>h2 {
    font-size: 36px;
    margin: 250px 0;
}
.end_roll>h2:nth-last-of-type(1) {
    margin: 500px 0 0 0;
}
.end_roll>h3 {
    font-size: 28px;
    margin: 0;
}
.end_roll>p {
    font-size: 18px;
    margin: 500px 0 30px 0;
}
.end_roll span {
    font-size: 22px;
    padding: 0 0 0 5px;
}

/* ---------------------------------- */



/* ----------↓ index.html ↓---------- */

.main_body {
    background: url(../img/background/4F_space2.jpg) no-repeat;
    background-size: 100%;
}
.log_box {
    position: absolute;
    background-image: url(../img/textures/log_button.svg);
    background-color: #C7B28F;
    background-size: cover;
    right: 35px;
    width: 65px;
    height: 65px;
    border-radius: 15%;
    margin-top: 30px;
    z-index: 40;
    cursor: pointer;
}
.log_icon_p {
    text-align: center;
}
.log_icon {
    width: 25px;
    height: auto;
    margin: 17.5px 0 0 0;
}
.log_sidebar {
    display: none; /* デフォルトは非表示 */
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    border-left: solid 1px #111;
    z-index: 30;
    transition: all 0.75s;
}
.log_sidebar_animation {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    z-index: 30;
    transition: all 0.5s;

    /* 追加するプロパティ */
    transform: translateX(0);
    overflow: scroll;
}
.log_sidebar_text {
    margin-top: 50px;
}
.log_text_box {
    width: 80%;
    background-color: rgba(205, 203, 199, 0.5);
    padding: 20px 50px;
    font-size: 18px;
    text-align: left;
    margin: 50px auto;
    border-radius: 10px;
    color: #fff;
}
.log_name_tag {
    position: relative;
    width: 35%;
    bottom: 35px;
    padding: 15px 0 15px 0;
    background-image: url(../img/textures/name_tag.svg);
    background-color: #C7B28F;
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    font-family: "Noto Serif JP", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: #111;
}
.log_text {
    padding: 0 0 40px 0;
}
.character_img_box {
    position: relative;
    top: 0;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(0px);
    transition: backdrop-filter 1s ease-in-out;
}
.character_img_box_option {
    position: relative;
    top: 0;
    transition: backdrop-filter 1s ease-in-out;

    /* 追加するプロパティ */
    backdrop-filter: blur(10px);
}
.character_img_p {
    text-align: center;
}
.character_img {
    width: 65vh;
    height: auto;
    padding-top: 50px;
}
.text_window {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 250px;
    color: #111;
    background-image: url(../img/textures/dialogue.svg);
    background-color: #E0CBA8;
    transition: 1s all;
}
.character_name {
    width: 250px;
    padding: 35px;
    background: #fff;
    border: solid 0.5px #111;
    border-radius: 20px;
    color: #111;
}
.current_text {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin: 0 auto;
}
.current_text_option {
    /* 追加、変更するプロパティ */
    font-size: 23px;
    height: auto;
    text-align: center;
    padding: 82.5px 0 62.5px 0;
}
.next_button {
    display: none; /* デフォルトは非表示 */
    position: absolute;
    bottom: 20%;
    right: 5%;
    width: 32px;
    height: 28px;
    transition: 0.2s all;
    background-image: url(../img/next_button.svg);
    animation: next_button_animation 1.5s infinite;
}

@keyframes next_button_animation {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(32.5%);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}

.option {
    display: none; /* デフォルトは非表示 */
    width: 60%;
    height: 50%;
    margin: 0 auto;
    color: lightgray;
}
.option>button:nth-of-type(1) {
    margin-bottom: 20px;
}
.option_box {
    position: relative;
    display: flex;
    width: 100%;
    background-image: url(../img/textures/choice_button_inactive.svg);
    background-color: #2E2836;
    background-size: cover;
    font-size: 20px;
    font-family: "Noto Serif JP", serif;
    color: #ffffffcd;
    border-radius: 25px;
    cursor: pointer;
    gap: 25px;
    padding: 20px 45px;
    transition: 0.4s all;
}
.option_box:hover, .option_hovered {
    position: relative;
    display: flex;
    width: 100%;
    background-size: cover;
    font-size: 20px;
    font-family: "Noto Serif JP", serif;
    border-radius: 25px;
    cursor: pointer;
    gap: 25px;
    padding: 20px 45px;
    transition: 0.4s all;

    /* 追加、変更するプロパティ */
    background-image: url(../img/textures/choice_button_active.svg);
    background-color: #E87C7F;
    color: #fff;
    filter: drop-shadow(0 0 10px #E87C7F);
}
.option_box_animation {
    position: relative;
    display: flex;
    width: 100%;
    background-size: cover;
    font-size: 20px;
    font-family: "Noto Serif JP", serif;
    border-radius: 25px;
    cursor: pointer;
    gap: 25px;
    padding: 20px 45px;
    transition: 0.4s all;
    background-image: url(../img/textures/choice_button_active.svg);
    background-color: #E87C7F;
    color: #fff;
    filter: drop-shadow(0 0 10px #E87C7F);

    /* 追加するプロパティ */
    animation: option_box_animation 0.25s linear;
}
@keyframes option_box_animation {
    0% {
        transform: perspective(100px) translateZ(0);
    }
    50% {
        transform: perspective(100px) translateZ(-4px);
    }
    100% {
        transform: perspective(100px) translateZ(0);
    }
}
.option_box:hover::after, .option_hovered::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(63px - 10px);
    z-index: 100;
    border-radius: 20px;
    border: solid 3px #E0CBA8;
}
.name_tag {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 475px;
    height: auto;
    background-image: url(../img/textures/name_tag.svg);
    background-color: #C7B28F;
    background-size: cover;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    filter: drop-shadow(0 0 10px #2E2836);
}
.name_tag h1 {
    font-family: "Noto Serif JP", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
}

/* ---------------------------------- */